/* 
- Scaricare 4 immagini di uguale dimensione
- Lo script dovrà eseguire in loop ancune immagini ?????
- Animare le immagini
- Fare lo slider con if e dei range

*/

#container {
  width: 580px;
  height: 500px;
}
#carousel {
  text-align: center;
  margin: 90px;
}
#container-button {
  margin-top: 20px;
}
button {
  font-size: 40px;
  margin: 0 10px;
  border: 1px solid grey;
  background: none;
  border-radius: 10px;
}
img {
  opacity: 0;
  width: 100%;
  height: 100%;
}
.imgVideo {
  opacity: 1;
}
.imgcontainer {
  text-align: center;
  width: 400px;
  height: 500px;
}
.imganimation {
  transform-style: preserve-3d;
  transition: transform 1.5s;
  transform: rotate3d(1, 1, 1, 10deg);
}

.imganimation:hover {
  transform: rotate3d(1, 1, 1, 30deg) matrix3d(1, 0, 0, 0, 0, 1, 6, 0, 0, 0, 1, 0, 50, 100, 0, 1.1);
}
